input {
   background-color: aquamarine;
}

p {
    margin-top: 25px ;
    font-weight: bold;
    font-size: 40px;
}

body {
    text-align: center;
}

.box{
    width: 600px;
    height: 165px;
    padding-top: none;
    border: 1px solid black;
    margin-left: 35ch;
    border-width: 3px;
    border-radius: 1cm;
}

ol {
    margin-top: 50px;
    margin-right: 40px;
    text-align: center;
    list-style-position: inside;
}

li {
    margin-top: 5px;
}

#done-btn {
    background-color:  #FFFFFF;
    color: black;
    width: 18px;
    height: 19px;
    padding-right: 15px;
}